.App {
  background-color: #cfedfd;
  min-height: 100vh;
}

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
}
.App-logo {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
}

.App-main-container {
  margin-top: 3rem;
  margin-bottom: 8rem;
}

.App-title {
  text-align: center;
  font-size: 2rem;
}

.App hr {
  width: 60rem;
  margin: 0 auto;
  border: 0.8px solid #4380fa;
}

.App-footer {
  padding: 2rem 0.5rem 5rem 0.5rem;
  /* padding-top: 2rem;
  padding-bottom: 5rem; */
}
.App-footer-text {
  text-align: center;
  font-size: 1.4rem;
  color: #626262;
}

.App-footer-link,
.App-footer-link:visited,
.App-footer-link:link,
.App-footer-link:active {
  text-decoration: none;
  color: #4380fa;
}
.App-footer-link:hover {
  color: #7c43fa;
}

h1 {
  font-family: 'Great Vibes', cursive;
  letter-spacing: 0.4rem;
  font-size: 6rem;
}

h3 {
  font-size: 1.6rem;
  color: #898989;
}

p {
  font-size: 1.8rem;
}

@media (max-width: 60rem) {
  .App hr {
    width: 90%;
  }
}
