.App-header {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}
.App-logo {
  width: 8rem;
  height: 8rem;
  margin-right: 1rem;
}

h1 {
  font-size: 6rem;
  text-transform: uppercase;
}
