.Image {
  max-width: 90rem;
  height: 90rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: (3, 1fr);
  gap: 1.6rem;
  margin-bottom: 10rem;
}

.Image-wrapper {
  width: 30rem;
  height: 30rem;
  box-shadow: 3px 10px 15px rgba(0, 0, 0, 0.2);
}

.Image-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
