.Results {
  max-width: 80rem;
  margin: 5rem auto;
  background-color: #fafafa;
  padding: 5rem;
  border-radius: 1.8rem;
  box-shadow: 1px 8px 15px rgba(0, 0, 0, 0.1);
}

.Results-heading--2 {
  font-size: 3rem;
  color: #7c43fa;
}

.Results-phonetic {
  font-size: 1.4rem;
}

.Results-meaning-container {
  margin-top: 2rem;
}
