.Results {
  max-width: 60rem;
  margin: 5rem auto;
}

.Results-heading--2 {
  font-size: 3rem;
  color: #7c43fa;
}

.Results-phonetic {
  font-size: 1.4rem;
}

.Results-meaning-container {
  margin-top: 2rem;
}
